{% extends 'base.html' %}

{% block content %}


<table border="0">
    <tr class='athing'>
        <td valign="top">user:</td>
        <td timestamp="{{ user.born|date:'U' }}">
            <a href="?id={{ user.id }}" class="hnuser">{{ user.id }}</a>
        </td>
    </tr>
    <tr>
        <td valign="top">created:</td>
        <td><a href="https://news.ycombinator.com/front?day={{ user.born|date:'Y-m-d' }}&birth={{ user.id }}">{{ user.born|date:'F j, Y' }}</a></td>
    </tr>
    <tr>
        <td valign="top">karma:</td><td>{{ user.karma }}</td>
    </tr>
    <tr>
        <td valign="top">about:</td><td>{{ user.bio }}</td>
    </tr>
    <tr>
        <td></td>
        <td><a href="https://news.ycombinator.com/submitted?id={{ user.id }}"><u>submissions</u></a></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="https://news.ycombinator.com/threads?id={{ user.id }}"><u>comments</u></a></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="https://news.ycombinator.com/favorites?id={{ user.id }}"><u>favorites</u></a></td>
    </tr>
    <tr>
        <td>topics:</td>
        <td></td>
    </tr>
{% for tag in tags %}
    <tr>
        <td></td>
        <td><span class='tag'>" + tag. + "</span> " + element[1] + "<br /></td></td>
    </tr>
{% endfor %}
</table>
<br>
<br>
{% endblock %}